<div class="container">
  <% content_for :title, "Transactions" %>

  <h1 class="mb-4 text-center font-extrabold leading-none tracking-tight text-gray-800 md:text-5xl dark:text-white">
    Transactions
  </h1>

  </br>
  </br>
      
  <ul role="list" class="divide-y divide-gray-100">
    <% @transactions.each do |transaction| %>
      <li class="flex justify-between gap-x-6 py-5">
        <div class="flex min-w-0 gap-x-4">
          <img class="size-12 flex-none rounded-full bg-gray-50" src="https://img.freepik.com/free-vector/blue-circle-with-white-user_78370-4707.jpg?semt=ais_country_boost&w=740" alt="">
          <div class="min-w-0 flex-auto">
            <p class="text-sm/6 font-semibold text-gray-900">Sender</p>
            <p class="mt-1 truncate text-xs/5 text-gray-500"><%= transaction.sender %></p>
          </div>
        </div>
        <div class="flex min-w-0 gap-x-4">
          <img class="size-12 flex-none rounded-full bg-gray-50" src="https://img.freepik.com/free-vector/blue-circle-with-white-user_78370-4707.jpg?semt=ais_country_boost&w=740" alt="">
          <div class="min-w-0 flex-auto">
            <p class="text-sm/6 font-semibold text-gray-900">Receiver</p>
            <p class="mt-1 truncate text-xs/5 text-gray-500"><%= transaction.receiver %></p>
          </div>
        </div>
        <div class="flex min-w-0 gap-x-4">
          <img class="size-12 flex-none rounded-full bg-gray-50" src="https://files.coinswitch.co/public/coins/eth.png" alt="">
          <div class="min-w-0 flex-auto">
            <p class="text-sm/6 font-semibold text-gray-900">Deposit</p>
            <p class="mt-1 truncate text-xs/5 text-gray-500"><%= transaction.transfer_action_deposit %></p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>

  <div class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6">
    <div class="flex flex-1 justify-between sm:hidden">
      <a <% if @transactions.prev_page %> href="/?page=<%= @transactions.prev_page %>" <% else %> href="#" <% end %> class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Previous</a>
      <a <% if @transactions.next_page %> href="/?page=<%= @transactions.next_page %>" <% else %> href="#" <% end %> class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Next</a>
    </div>
    <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
      <div>
        <p class="text-sm text-gray-700">
          Showing
          <span class="font-medium"><%= @per_page %></span>
          of
          <span class="font-medium"><%= @total_count %></span>
          results
        </p>
      </div>
      <div>
        <nav class="isolate inline-flex -space-x-px rounded-md shadow-xs" aria-label="Pagination">
          <a <% if @transactions.prev_page %> href="/?page=<%= @transactions.prev_page %>" <% else %> href="#" <% end %> class="relative disable inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-gray-300 ring-inset hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
            <span class="sr-only">Previous </span>
            <svg class="size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" />
            </svg>
          </a>
          
          <% (1..@transactions.total_pages).each do |page_num| %>
            <% if @current_page.to_i == page_num %>
              <a href="?page=<%= page_num %>" aria-current="page" class="relative z-10 inline-flex items-center bg-indigo-600 px-4 py-2 text-sm font-semibold text-white focus:z-20 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"><%= page_num %></a>
            <% else %>
              <a href="?page=<%= page_num %>" class="relative hidden items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-gray-300 ring-inset hover:bg-gray-50 focus:z-20 focus:outline-offset-0 md:inline-flex"><%= page_num %></a>
            <% end %>
          <% end %>
          <a <% if @transactions.next_page %> href="/?page=<%= @transactions.next_page %>" <% else %> href="#" <% end %> class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-gray-300 ring-inset hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
            <span class="sr-only">Next</span>
            <svg class="size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
            </svg>
          </a>
        </nav>
      </div>
    </div>
  </div>
</div>
